In [3]:
print("hi ne samala\n" *10)

hi ne samala
hi ne samala
hi ne samala
hi ne samala
hi ne samala
hi ne samala
hi ne samala
hi ne samala
hi ne samala
hi ne samala

In [5]:
#variables

In [11]:
#price=identifire/name of the variable
price=10
print(price)

10

In [13]:
#understanding th epython interpreter it executes code line by line

In [15]:
#there fore if i set a new value of the identifire price it will take that new value and not the older one

In [19]:
price=10
price=20
print(price)

20

In [21]:
#datatypes not explicitely devined like other programming languages but are defined as the way we write

In [23]:
#integer
price=10
#float
rating=4.9
#string
name='Mosh'
#boolean
is_published =False

In [25]:
#python is a case sensitive and space sensitive language as in the upper case and lower case play an important role n the execution\

In [27]:
#receiving an input from the user
name= input('what is your name')
print('hi'+name)

what is your name Aastha kataria

hiAastha kataria

In [33]:
favouraite=input('what is yuor favourait colour')
print(name+"'s favourait colour is"+favouraite)

what is yuor favourait colour blue

Aastha kataria's favourait colour isblue

In [39]:
#converting the type of the variable
birth_year =input('birth year:')
#finding the type of the birth year entered
print(type(birth_year))
age=2024-int(birth_year)
print(type(age))
print(age)

birth year: 2004

<class 'str'>
<class 'int'>
20

In [43]:
#python strings
#the basic convention of writing a string is either using single quotes or double quotes
#in caase of an appostrophy wecant use ' single quotes twice it will gove n error there for use double quotes
course="aastha's life"
#for spanning strings across multiple lines use 3 appostrophie ''' ''' or """  """
course=""" i like what i am doing and how i am doing it 
bla bal ba bla blab"""

In [45]:
#gettigna character at a partivualr index
course="hello my name is aastha"
print(course[0])

h

In [47]:
#can also use negitive characters to get the characters form the end
print(course[-1])

a

In [51]:
#getting a sequence of characters
print(course[0:3])
#gives all the characters form the index 0 to last index-1 hel

hel

In [55]:
#if we only give the tarting index and not the ending indexthe python will print the complete string fro th e starting index
print(course[0:])

hello my name is aastha

In [57]:
print(course[1:])

ello my name is aastha

In [61]:
#coping a string 
another=course[:]#copies the whole string
print(another)

hello my name is aastha

In [65]:
#TEST
NAME="JENNIFER"
print(NAME[1:-1])
#output should ideally be ennife

ENNIFE

In [67]:
first="aastha"
lname="kataria"
message=first+'['+lname+'] is a coder'
print(message)

aastha[kataria] is a coder

In [71]:
#using a formatted string using a placeholder
msg=f'{first} [{lname}] is a coder'
print(msg)

aastha [kataria] is a coder

In [73]:
#string functions
#printing a length
course='aastha ketan kataria'
print(len(course))

20

In [75]:
#functions that are specific to a string
#converts the string to uppercase
#this is an inbuilt function but laer look at how to write the complete code form scratcha nd its approaches
course.upper()
#does not change the original string
#the upper() funstion that we are using is specific to strings so it is known as method
#but the function in general that applies to all is known as function??

'AASTHA KETAN KATARIA'

In [77]:
#how to manuplate the original string??

In [79]:
course.lower()

'aastha ketan kataria'

In [81]:
#finding a particular character or a set of characters
print(course.find('a'))
#returns at the first index

0

In [83]:
#if i want to fin it at its second or third occurance or at last occurance

In [89]:
#sequence of characters
course.find('ketan')
#gives the starting index from where the characters start

7

In [91]:
#repalcing  characters
course.replace('ketan','ketan ishwarlal')

'aastha ketan ishwarlal kataria'

In [93]:
course.replace('a','k')

'kksthk ketkn kktkrik'

In [95]:
#coes not change the original string
print(course)

aastha ketan kataria

In [97]:
#as we did in find where it was returning the index value of the  letter of the sequence if found
#there is also a way to get a boolean value for it 
'aastha' in course

True

In [99]:
#if we want to ignore case??

In [101]:
#arithematic operations + -* / %

In [103]:
#2 types of divisions
print(10/3)
print(10//3)

3.3333333333333335
3

In [109]:
print(10%3)
#modulo operator gives a remainder of the

1

In [115]:
print(10**3) 
#gives power/exponents

1000

In [119]:
#using augmented assignment operator 
#writing the same code in  a shorter form
x=10
x= x+3
y=10
y+=3
print(x)
print(y)

13
13

In [121]:
#operator precidence
#BODMAS
#PRACKETS ALWAYS OVER RIDES THE ORDER WHY??

In [123]:
#built in math functions
x=2.9

In [125]:
print(round(x))

3

In [127]:
x=2.1
print(round(x))

2

In [131]:
x=2.4
print(round(x))

2

In [139]:
x=2.5
print(round(x))

2

In [143]:
x=2.6
print(round(x))

3

In [145]:
#absolute function in maths any number given to it +ve ot -ve will always return a +ve value
print(abs(-2.9))

2.9

In [147]:
#using the math library

In [149]:
import math 
math.ceil(2.9)

3

In [151]:
math.floor(2.9)

2

In [153]:
#readmore aboutthe functioning of floor and ceil

In [167]:
#conditional statements 
#if statements
is_hot=False
is_cold=True
if is_hot:
    print("it's a hot day")
    print("drink lots of water")
elif is_cold:
    print("its a cold day ")
    print("wear warm clothes")

    
print("have a good day")

its a cold day
wear warm clothes
have a good day

In [169]:
#logical opertors 
has_high_income=True
has_good_credit=True
if has_high_income and has_good_credit:
    print("eligible for loan")

eligible for loan

In [171]:
#or atleast one cndition is true
#not
has_criminal_record=False
if has_good_credit and not has_criminal_record:
    print("eligible for loan")

eligible for loan

In [175]:
#comparison operators
temperature=30
if temperature>30:
    print("it is a hot day")
else:
    print("it is not a hot day")

it is not a hot day

In [177]:
name="aastha"
if len(name)<3:
    print("name must be at least 3 characters")
elif len(name)>50:
    print("max length of the name can be 50 characters")
else:
    print("name looks good")

name looks good

In [1]:
#while loops
#while condition:
i=5
while i>=1:
    print("*" *i)
    i=i-1
print("done")

*****
****
***
**
*
done

In [ ]:
t=3;
while t<=3:
    guess=input("Guess:")
    if guess==9:
        print("you have passed")
    else:
        print("ni khe ye")
    t -=1

Guess: 3

ni khe ye

Guess: 4

ni khe ye

Guess: 9

ni khe ye

Guess: 7

ni khe ye

Guess: 7

ni khe ye

In [ ]:
guess_count=0;
guess_limit=3
while guess_count<guess_limit:
    guess=input("Guess:")
    
    if guess==9:
        print("you have passed")
    else:
        print("ni khe ye")
    t -=1
    print(t)

Guess: 2

ni khe ye
2

Guess: 3

ni khe ye
1

Guess: 9

ni khe ye
0

Guess: 1

ni khe ye
-1

In [15]:
guess_count=0
guess_limit=3
secno=9
while guess_count<guess_limit:
    guess=int(input("Guess:"))
    guess_count +=1
    if guess==secno:
        print("you have passed")
        break
    else:
        print("ni khe ye de")

Guess: 5

ni khe ye de

Guess: 6

ni khe ye de

Guess: 9

you have passed

#while statemrnts also have an else block

In [20]:
guess_count=0
guess_limit=3
secno=9
while guess_count<guess_limit:
    guess=int(input("Guess:"))
    guess_count +=1
    if guess==secno:
        print("you have passed")
        break
else:
    print("the while else block")
        
#the else will be executed if there is no immediet break

Guess: 9

you have passed

In [22]:
#for loops
for item in 'python':
    print(item)

p
y
t
h
o
n

In [32]:
for item in ['aastha','aayushi','vihaan']:
    print(item)

aastha
aayushi
vihaan

In [36]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [38]:
for item in range(5,10):
    print(item)

5
6
7
8
9

In [42]:
#prints item in the interval of 2
for item in range(5,10,2):
    print(item)

5
7
9

In [50]:
#print the sum of all the items in a shopping cart
sum=0
prices=[10,20,30]
for item in prices:
    sum=sum+item

#using a formatted string
print(f"the total price of your items is{sum}")

the total price of your items is60

In [62]:
# nested loops
#generating coordinates

for x in range(4):
    for y in range(5):
        print(f"({x},{y})")

(0,0)
(0,1)
(0,2)
(0,3)
(0,4)
(1,0)
(1,1)
(1,2)
(1,3)
(1,4)
(2,0)
(2,1)
(2,2)
(2,3)
(2,4)
(3,0)
(3,1)
(3,2)
(3,3)
(3,4)

In [64]:
#coding challange
'''
xxxxx
xx
xxxxx
xx
xx
'''

'\nxxxxx\nxx\nxxxxx\nxx\nxx\n'

In [74]:
for x in range(2):
    print("xxxxx")
    for y in range(x+1):
        print("xx")

xxxxx
xx
xxxxx
xx
xx

In [82]:
#can also be done using list
list=[5,2,5,2,2]
for items in list:
    print("x"*items)

xxxxx
xx
xxxxx
xx
xx

In [84]:
#lists
names=['aastha','aayushi','vihaan']
print(names)

['aastha', 'aayushi', 'vihaan']

In [88]:
#printing a particular index in the list 
print(names[0])

aastha

In [96]:
for items in (names):
    print(items)

aastha
aayushi
vihaan

In [98]:
print(names[2:])

['vihaan']

In [102]:
print(names[0:2])

['aastha', 'aayushi']

In [104]:
names[0]='Aastha'
print(names)

['Aastha', 'aayushi', 'vihaan']

In [114]:
#program to fingd the largest number in a list
num=[1,2,3]
max=num[0]
for count in num:
    if count>max:
        max=count
print(max)

3

In [122]:
list1=['aastha','aayush','vihaan']
print(list1)

['aastha', 'aayush', 'vihaan']

In [124]:
print(list1[1])

aayush

In [136]:
#print list as many times as the number of elements are there inside
for count in list1:
    print(list1)

['aastha', 'aayush', 'vihaan']
['aastha', 'aayush', 'vihaan']
['aastha', 'aayush', 'vihaan']

In [144]:
#print every single element of the list pertaining to the count
for count in list1:
    print(count)

aastha
aayush
vihaan

In [150]:
#print every single element of the list pertaining to the count
for count in list1:
    print(count[1])
    #with the first letters pertaining to the indexes

a
a
i

In [145]:
list2=[9,8,7,6,5,4,3]
for count in list2:
    print(count)

9
8
7
6
5
4
3

In [152]:
#2 dimentional lists
#matrix
#rows and columns
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [154]:
print(matrix[0][0])

1

In [156]:
print(matrix[1])

[4, 5, 6]

In [158]:
for count in matrix:
    print(count)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [162]:
for r in matrix:
    for c in r:
        print(c)

1
2
3
4
5
6
7
8
9

In [164]:
#list methods or list functions

In [190]:
numbers=[65,65,83,84,72]
numbers.append(65)

In [168]:
print(numbers)

[65, 65, 83, 84, 72, 65]

In [192]:
#delete the lst element from the list
numbers.pop()
print(numbers)

[65, 65, 83, 84, 72]

In [198]:
#delete the lst element from the list
print(numbers.index(84))
print(numbers)

3
[65, 65, 83, 84, 72]

In [200]:
#check if the number is in the list
print(50 in numbers)

False

In [204]:
#cout the occurances of number 5
print(numbers.count(65))

2

In [206]:
#numbers in ascending order
numbers.sort()
print(numbers)

[65, 65, 72, 83, 84]

In [208]:
#numbers in decending order
numbers.sort()
numbers.reverse()
print(numbers)

[84, 83, 72, 65, 65]

In [170]:
#to add the number any where in the list at the required position
numbers.insert(0,75)

In [172]:
print(numbers)

[75, 65, 65, 83, 84, 72, 65]

In [174]:
#for removing an element
numbers.remove(65)

In [176]:
print(numbers)

[75, 65, 83, 84, 72, 65]

In [178]:
numbers1=numbers
print(numbers1)

[75, 65, 83, 84, 72, 65]

In [182]:
numbers1.clear()

In [186]:
print(numbers1)

[]

In [188]:
print(numbers)

[]

In [210]:
#when assinging the apove numbers to try and duplicate the list it impacted the original lit aswell

In [234]:
#therefore the solution to this is using th ecopy function
numbers=[65,65,83,84,72,65]
numbers2=numbers.copy()
numbers2.append(65)
print(numbers)
print(numbers2)

[65, 65, 83, 84, 72, 65]
[65, 65, 83, 84, 72, 65, 65]

In [230]:
#removing duplicates in a list
for cout in numbers2:
    if numbers2.count(cout)>1:
        numbers2.remove(cout)
print(numbers2)

[83, 84, 72, 65, 65]

In [232]:
#in my pervious approach it is not giving me a proper output as while shifting elements it is making a glitch

In [238]:
#therefore a better approach to this problem is 
empty=[]#taking an empty list
for count in numbers2:
    if count not in empty:
        empty.append(count)
print(empty)

[65, 83, 84, 72]

In [240]:
#tuples similar to lists but unlike lists we cannot modify them

In [242]:
#we cannot add items cannot remove items --they are immutable

In [244]:
numbers=(1,2,3)

In [252]:
print(numbers.count(1))
#counts the singe element occurences

1

In [254]:
print(numbers[0])

1

In [258]:
#unpacking
coordinates=(1,2,3)
#too long of a code to write coordintes[0]*coordinates[1]*coordinates[3]
#therefore we assign them to variables
#x=coordinate[0]
#y=coordinate[1]
#z=coordinate[2]
#insted we use unpacking
x,y,z = coordinates

In [262]:
#unpacking with '*'
coordinates=(1,2,3,4,5)
x,*y=coordinates
#will give x=1 and y=[2,3,4,5] as a list
#or unpacking in th  middle
#x,*y,z=coordinates
#x=1
#y=[2,3,4]
#z=5
print(x)
print(y)

1
[2, 3, 4, 5]

In [268]:
#dictionary key value pairs
customer={
    "name":"Aastha kataria",
    "age":30,
    "is_verified":True
}
#no two same key values

In [270]:
#access each value via the kea
customer["name"]

'Aastha kataria'

In [272]:
customer.get("birth_date") #answer will come as none

In [274]:
#can also come as customer.get("birth_date","Jan 1 1980")
#the answer wil come as Jan 1 1980

In [276]:
#updating the name
customer["name"]="aastha kataria"

In [278]:
digits_to_words={
    "1":"one",
    "2":"two",
    "3":"three",
    "4":"four",
    "5":"five",
    "6":"six",
    "7":"seven",
    "8":"eight",
    "9":"nine",
    "0":"zero"
}
phone=input("phone:")
output=""
for count in phone:
    output +=digits_to_words.get(count,"!")+" "
print(output)

phone: 09326492515

zero nine three two six four nine two five one five

In [280]:
#mapping characters to emoji
message=input(">")
#splitting the input message
words=message.split(' ')#split where ever you find a space there fore space is a boundary
#printing a list of the split words
print(words)

> good morning :)

['good', 'morning', ':)']

In [286]:
#defining  dictionary 
emojis={
    ":)":"😀",
    ":(":"😒"
       
}
output=""
for word in words:
    output +=emojis.get(word,word)+" "
print(output)

good morning 😀

In [288]:
#functions
#breaking own code into a more managable chunks of code
#can be reused
#print(),input() are inbuilt functions,which are predefined functions 
#writing functions yourself
#def keyword for defining function
def greet_user():
    print("hi my name is aastha")
    print("ni jao shenma minze")

print("start")
greet_user()
print("finish")

start
hi my name is aastha
ni jao shenma minze
finish

In [292]:
#functions
#breaking own code into a more managable chunks of code
#can be reused
#print(),input() are inbuilt functions,which are predefined functions 
#writing functions yourself
#def keyword for defining function
#passing parameters in the functions

def greet_user(name):#here name is a parameter
    print(f"hi my name is {name}")
    print("ni jao shenma minze")

print("start")
greet_user("aastha")#here aastha is argument 
greet_user("aayushi")
print("finish")

start
hi my name is aastha
ni jao shenma minze
hi my name is aayushi
ni jao shenma minze
finish

In [294]:
def name(fname,lname):
    print(f"hi {fname}{lname}")

name("aastha","kataria")

hi aasthakataria

In [300]:
def name(fname,lname):
    print(f"hi {fname}{lname}")

name(lname="kataria",fname="aastha")
#using keyword argument order does not matter

hi aasthakataria

In [304]:
def name(fname,lname):
    print(f"hi {fname}{lname}")

#name("kataria",fname="aastha")
#here kataria is  positional argument and aastha is a keyword argument
#python gives an error here
#but we can write it as first   positional then keyword then it wont throw an error
name("aastha",lname="kataria")

hi aasthakataria

In [308]:
#return statement
def square(number):return number*number

result=square(651)
print(result)
#or
print(square(4))

423801
16

In [310]:
#if no return statement then the function returns none

In [312]:
#mapping characters to emoji
def msg_to_emoji(message):
    #splitting the input message
    words=message.split(' ')#split where ever you find a space there fore space is a boundary
    #printing a list of the split words
    print(words)
    #defining  dictionary 
    emojis={
        ":)":"😀",
        ":(":"😒"
       
    }
    output=""
    for word in words:
        output +=emojis.get(word,word)+" "

    return output


message=input(">")
msg_to_emoji(message)
print(output)

> i am happy today :)

['i', 'am', 'happy', 'today', ':)']
good morning 😀

In [314]:
#handeling errors or exception haneling

In [316]:
#when we run a program with proper values as pr the datatype it gives a return value as zero
age=int(input('Age:'))
print(age)

Age: 3

3

In [318]:
#but if i use a string value insted it will give me an error
#so insted of letting the whole program crash we give an exception statement
#and handle the exception
try:
    age=int(input('Age:'))
    print(age)
except ValueError:
    print("invalid value")

Age: aastha

invalid value

In [320]:
#but if i use a string value insted it will give me an error
#so insted of letting the whole program crash we give an exception statement
#and handle the exception
try:
    age=int(input('Age:'))
    income=100000000
    risk=income/age
    #if age is zero 
    print(age)
except ZeroDivisionError:
    print("zero division error")
except ValueError:
    print("invalid value")

Age: 0

zero division error

In [324]:
#classes in python
#user defined types 
#user defined types are
"""
Number
booleans
strings
"""
#-----------
"""
complex types
lists
tuple 
dictionaries
"""

'\ncomplex types\nlists\ntuple \ndictionaries\n'

In [326]:
numbers=[1,2,3]
#naming classes using the pascal nameing convention keeping the first letter of the word capital
class Point:
    def move(self):
        print("move")
    def draw(self):
        print("draw")

point1=Point()#creating the object of a class
point1.draw()

draw

In [328]:
point1.x=20
point1.y=30
point1.draw()

draw

In [330]:
print(point1.x)

20

In [332]:
print(point1.y)

30

In [336]:
#every object is different 
point2=Point()
#print(point2.x) will give an error
#as there is no x defined
point2.x=1
print(point2.x)

1

In [338]:
#constructors
#the problem earlier is that we can create a point object without an x or y coordinate
#constructor is a type of function that gets created while calling an object
numbers=[1,2,3]
#naming classes using the pascal nameing convention keeping the first letter of the word capital
class Point:
    def __init__(self,x,y):#constructer __init__ means initiliasation.Here initiallising x and y
        self.x=x
        self.y=y
        
    def move(self):
        print("move")
    def draw(self):
        print("draw")

#point1=Point()#creating the object of a class
#point1.draw()
point=Point(10,20)
print(point.x)

10

In [344]:
#create a class person with name attribute and talk() function
class Person:
    def talk(self,name):
        print(f"hi{name}")

name=input("enter your name")
personname=Person()
personname.talk(name)

enter your name aastha

hiaastha

In [354]:
#create a class person with name attribute and talk() function
class Person:
    def __init__(self,name):
        self.name=name
    def talk(self,name):
        print("talk")

name=input("enter your name")
personname=Person(name)
print(personname.name)
personname.talk(name)

enter your name Aastha kataria

Aastha kataria
talk

In [356]:
#inheritance
#one class inherits the property of another class
#principle dry
#fullform do not repeat your code

#if i have 2 classes 
#eg
"""
class Dog:
    def walk(self):
       print("walk")

class Cat:
    def walk(self):
       print("walk")

Here ther is a repitetation of the walk code 
using inheritence we can avoid it 
and if we have to change something in the function it will be a tedius task locating everyfunction and changing t
the required details
where as in inhiritance we only have to change it once
"""

'\nclass Dog:\n    def walk(self):\n       print("walk")\n\nclass Cat:\n    def walk(self):\n       print("walk")\n\nHere ther is a repitetation of the walk code \nusing inheritence we can avoid it \n'

In [362]:
class Mammal:
    def walk(self):
       print("walk")
#python does want an empty class
class Dog(Mammal):
    def bark(self):
        print("bark")

class Cat(Mammal):
    pass
    
dog=Dog()
dog.walk()
dog.bark()

walk
bark

In [364]:
#modules in python
#insted of writing all of our in one file we we split it across different files
#and call via import
#convertors.py
#def lbs_to_kg(weight):
#    return weight*0.45
#def kg_to_lbs(weight):
#    return weight/0.45

#in the main file 
#use inport statement 
#import convertors
#or we can also import specific modules
#from converters import kg_to_lbs
#using the functions in an imported class
#convertors.def lbs_to_kg(70)

In [366]:
#package
#another way to organise modules
#as they getvluttered 
#there fore using package as a container to store  multiple modules 
Right click the main source file 
then choose directory and name it  or directly crate a python package
to convert an empty directory to a package we need to add a special python file in it 
which is the __init__ file
then the interepretor sees this file it treates the directory like a package

#for instance we have a package name ecommerse and inside we have a shipping.py 
#therefore to import it i the required python file we will need 
#import ecommerce.shipping

and while using it we will have to type

ecommerse.shipping.claculate_shipping()

or write 
from ecommerse.shipping import calculate_shipping,calaualte_tax

then keep on calling the function directly as you want
calculate_shipping()
calculate_shipping()
calculate_shipping()

SyntaxError: invalid syntax (924993308.py, line 5)

In [372]:
#generating randome values
#builtin modules in python
#google search: python3 module index'

#eg random module already these in external liberaries<python version<pythonversion<library root
import random
for i in range(3):
    print(random.randint(10,20))

15
14
16

In [381]:
#randomly taking members form a list
list=['aastha','aayushi','vihaan']
for i in list:
    print(random.choice(list))

aastha
vihaan
vihaan

In [383]:
#making a randome dice and printing the result in a tuple
class Dice:
    def roll (self):
        first=random.randint(1,6)
        second=random.randint(1,6)
        return first,second

dice=Dice()
print(dice.roll())

(4, 5)

In [385]:
#directories and files
pathlib
from pathlib import path
using an absolute path  root of our harddisk
    c:\program files\microsoft
/user/local/bin
or a relative path
using the directories inside

SyntaxError: invalid syntax (3474016380.py, line 4)

In [387]:
#creating mew directories 
path=Path("emails")
#path.mkdir()

#deleting directories
#path.rmkdir()

NameError: name 'Path' is not defined

In [389]:
#pip install---packages on PyPi